services:
  flask_app:
    image: "{{ ecr_registry }}/{{ image_name }}:{{ image_tagss }}"
    container_name: "{{ container_name }}"
    ports:
      - "5000:5000"
    environment:
      - PYTHONBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
      - DB_USER={{ db_user }}
      - DB_PASSWORD={{ db_pass }}
      - DB_HOST={{ db_host }}
      - DB_NAME={{ db_name }}
      - DB_PORT={{ db_port }}
    networks:
      - flask-network
    restart: always

networks:
  flask-network:
    driver: bridge